
.main-container{
  /* height: 100vh; */
  background: #EFF1F7;
}

.banner{
  max-width:1600px;
  position: relative;
  margin: 0 auto;
}


.routes{
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: -60px;
  border: 1px solid lightgray;
  display: flex;
  z-index: 50; 
}
.tabs{
  background-color: #21155F;
  flex:1
}

.pages{
  flex:3;
  background-color: #EFF1F7;
  min-height: 550px;
}

.circle{
  height: 95px;
  width: 95px;
  border: 1px solid #01C4B1;
  border-radius: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inside-circle{
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 100px;

}
.img-name{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
  margin: 80px 0px 50px 150px;
  /* top: 150px; */
  /* left: 150px; */
}
.add-img{
  background-color: white;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 1px;
  right: 5px;
}
.circle-shadow{
  box-shadow: -3px -1px 7px -3px #242629;
}
.route-component-shadow{
  box-shadow: 10px 15px 30px -8px #c2c0c0;
}
.testing{
  background-size: cover;
  width: 100%;
  height: 350px;
  background-position: center;
  
}