.text-white{
  color: white;
}
.text-12{
  font-size: 12px;
}
.text-14{
  font-size: 14px;
}
.text-16{
  font-size: 16px;
}
.text-28{
  font-size: 28px;
}
.text-26{
  font-size: 26px;
}
.text-24{
  font-size: 24px;
}
.bolder{
  font-weight: bolder;
}
.bold{
  font-weight: 500;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* @font-face {
  font-family: 'future';
  src: local('future'), url(./fonts/future.ttf) format('truetype');
} */
